@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --gradient-main: linear-gradient(to top right, #0f172b 70%, #17304c 95%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00025a;
    --foreground: #00d3f3;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.app-loader {
  width: 50px;
  margin: 0 auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--foreground) 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, var(--foreground));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
